<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="xyz.marsj.o2o.mapper.UserAwardMapMapper">
	<resultMap type="xyz.marsj.o2o.entity.UserAwardMap" id="UserAwardMap">
		<id column="user_award_id" property="userAwardId"/>
		<result column="expire_time" property="expireTime"/>
		<result column="create_time" property="createTime"/>
		<result column="used_status" property="usedStatus"/>
		<result column="point" property="point"/>
		<association property="user" column="user_id" javaType="xyz.marsj.o2o.entity.PersonInfo">
			<id column="user_id" property="userId"/>
			<result column="name" property="name"/>
		</association>
		<association property="award" column="award_id" javaType="xyz.marsj.o2o.entity.Award">
			<id column="award_id" property="awardId"/>
			<result column="award_name" property="awardName"/>
		</association>		
		<association property="shop" column="shop_id" javaType="xyz.marsj.o2o.entity.Shop">
			<id column="shop_id" property="shopId"/>
			<result column="shop_name" property="shopName"/>
		</association>
		<association property="operator" column="operator_id" javaType="xyz.marsj.o2o.entity.PersonInfo">
			<id column="operator_id" property="userId"/>
			<result column="operator_name" property="name"/>
		</association>
	</resultMap>

	<select id="queryUserAwardMapList" resultMap="UserAwardMap">
		SELECT
		u.user_award_id,
		u.expire_time,
		u.create_time,
		u.used_status,
		u.point,
		cust.user_id,
		cust.name,
		s.shop_id,
		s.shop_name,
		a.award_id,
		a.award_name,
		o.user_id AS operator_id,
		o.name AS operator_name
		FROM 
		tb_user_award_map u,
		tb_award a,
		tb_shop s,
		tb_person_info cust,
		tb_person_info o
		<where>
			u.user_id=cust.user_id
			and 
			u.shop_id=s.shop_id
			and
			u.award_id=a.award_id
			and
			u.operator_id=o.user_id
			<if test="userAwardMapCondition.user!=null and userAwardMapCondition.user.userId!=null">
				and u.user_id=#{userAwardMapCondition.user.userId}
			</if>
			<if test="userAwardMapCondition.shop!=null and userAwardMapCondition.shop.shopId!=null">
				and u.shop_id=#{userAwardMapCondition.shop.shopId}
			</if>
			<if test="userAwardMapCondition.award!=null and userAwardMapCondition.award.awardName!=null">
				and a.award_name like'%${userAwardMapCondition.award.awardName}%'
			</if>	
			<if test="userAwardMapCondition.user!=null and userAwardMapCondition.user.name!=null">
				and cust.name like'%${userAwardMapCondition.user.Name}%'
			</if>
			<if test="userAwardMapCondition.usedStatus!=null">
				and u.used_status=#{userAwardMapCondition.usedStatus}
			</if>									
		</where>
		ORDER BY
		u.create_time DESC
		LIMIT #{rowIndex},#{pageSize}
	</select>
	<select id="queryUserAwardMapListFrontend" resultMap="UserAwardMap">
		SELECT
		u.user_award_id,
		u.expire_time,
		u.create_time,
		u.used_status,
		u.point,
		cust.user_id,
		cust.name,
		s.shop_id,
		s.shop_name,
		a.award_id,
		a.award_name
		FROM 
		tb_user_award_map u,
		tb_award a,
		tb_shop s,
		tb_person_info cust
		<where>
			u.user_id=cust.user_id
			and 
			u.shop_id=s.shop_id
			and
			u.award_id=a.award_id
			<if test="userAwardMapCondition.user!=null and userAwardMapCondition.user.userId!=null">
				and u.user_id=#{userAwardMapCondition.user.userId}
			</if>
			<if test="userAwardMapCondition.shop!=null and userAwardMapCondition.shop.shopId!=null">
				and u.shop_id=#{userAwardMapCondition.shop.shopId}
			</if>
			<if test="userAwardMapCondition.award!=null and userAwardMapCondition.award.awardName!=null">
				and a.award_name like'%${userAwardMapCondition.award.awardName}%'
			</if>	
			<if test="userAwardMapCondition.user!=null and userAwardMapCondition.user.name!=null">
				and cust.name like'%${userAwardMapCondition.user.Name}%'
			</if>
			<if test="userAwardMapCondition.usedStatus!=null">
				and u.used_status=#{userAwardMapCondition.usedStatus}
			</if>									
		</where>
		ORDER BY
		u.create_time DESC
		LIMIT #{rowIndex},#{pageSize}
	</select>
	<select id="queryUserAwardMapCountFrontend" resultType="int">
		SELECT COUNT(1) 
		FROM 
		tb_user_award_map u,
		tb_award a,
		tb_shop s,
		tb_person_info cust
		<where>
			u.user_id=cust.user_id
			and 
			u.shop_id=s.shop_id
			and
			u.award_id=a.award_id
			<if test="userAwardMapCondition.user!=null and userAwardMapCondition.user.userId!=null">
				and u.user_id=#{userAwardMapCondition.user.userId}
			</if>
			<if test="userAwardMapCondition.shop!=null and userAwardMapCondition.shop.shopId!=null">
				and u.shop_id=#{userAwardMapCondition.shop.shopId}
			</if>
			<if test="userAwardMapCondition.award!=null and userAwardMapCondition.award.awardName!=null">
				and a.award_name like'%${userAwardMapCondition.award.awardName}%'
			</if>	
			<if test="userAwardMapCondition.user!=null and userAwardMapCondition.user.name!=null">
				and cust.name like'%${userAwardMapCondition.user.Name}%'
			</if>
			<if test="userAwardMapCondition.usedStatus!=null">
				and u.used_status=#{userAwardMapCondition.usedStatus}
			</if>	
		</where>
	</select>
	<select id="queryUserAwardMapCount" resultType="int">
		SELECT COUNT(1) 
		FROM 
		tb_user_award_map u,
		tb_award a,
		tb_shop s,
		tb_person_info cust,
		tb_person_info o
		<where>
			u.user_id=cust.user_id
			and 
			u.shop_id=s.shop_id
			and
			u.award_id=a.award_id
			and
			u.operator_id=o.user_id
			<if test="userAwardMapCondition.user!=null and userAwardMapCondition.user.userId!=null">
				and u.user_id=#{userAwardMapCondition.user.userId}
			</if>
			<if test="userAwardMapCondition.shop!=null and userAwardMapCondition.shop.shopId!=null">
				and u.shop_id=#{userAwardMapCondition.shop.shopId}
			</if>
			<if test="userAwardMapCondition.award!=null and userAwardMapCondition.award.awardName!=null">
				and a.award_name like'%${userAwardMapCondition.award.awardName}%'
			</if>	
			<if test="userAwardMapCondition.user!=null and userAwardMapCondition.user.name!=null">
				and cust.name like'%${userAwardMapCondition.user.Name}%'
			</if>
			<if test="userAwardMapCondition.usedStatus!=null">
				and u.used_status=#{userAwardMapCondition.usedStatus}
			</if>	
		</where>
	</select>
	
	<select id="queryUserAwardMapById" resultMap="UserAwardMap">
		SELECT 
		u.user_award_id,
		u.expire_time,
		u.create_time,
		u.used_status,
		u.point,
		cust.user_id,
		cust.name,
		s.shop_id,
		s.shop_name,
		a.award_id,
		a.award_name,
		o.user_id AS operator_id,
		o.name AS operator_name
		FROM 
		tb_user_award_map u,
		tb_award a,
		tb_shop s,
		tb_person_info cust,
		tb_person_info o
		WHERE
		u.user_id=cust.user_id
		and 
		u.shop_id=s.shop_id
		and
		u.award_id=a.award_id
		and
		u.operator_id=o.user_id
		and 
		u.user_award_id=#{userAwardMapId}
	</select>
	
	<select id="queryUserAwardMapByIdFrontend" resultMap="UserAwardMap">
		SELECT
		u.user_award_id,
		u.expire_time,
		u.create_time,
		u.used_status,
		u.point,
		cust.user_id,
		cust.name,
		s.shop_id,
		s.shop_name,
		a.award_id,
		a.award_name
		FROM 
		tb_user_award_map u,
		tb_award a,
		tb_shop s,
		tb_person_info cust
		WHERE
		u.user_id=cust.user_id
		and 
		u.shop_id=s.shop_id
		and
		u.award_id=a.award_id
		and
		u.user_award_id=#{userAwardMapId}
	</select>
	
	<insert id="insertUserAwardMap" keyColumn="user_award_id" keyProperty="userAwardId"
	 parameterType="xyz.marsj.o2o.entity.UserAwardMap" useGeneratedKeys="true">
	 	INSERT INTO
	 	tb_user_award_map(user_id,award_id,shop_id,user_name,expire_time,create_time,used_status,point,operator_id)
	 	VALUES(#{user.userId},#{award.awardId},#{shop.shopId},#{userName},#{expireTime},#{createTime},
	 	#{usedStatus},#{point},#{operator.userId})
	</insert>
	<update id="updateUserAwardMap" parameterType="xyz.marsj.o2o.entity.UserAwardMap">
		UPDATE 
		tb_user_award_map
		SET
		used_status=#{usedStatus}
		WHERE
		user_award_id=#{userAwardId}
		AND
		user_id=#{user.userId}
	</update>
</mapper>